section.st-emotion-cache-1o14730 {
  min-width: 350px;
  max-width: 350px; 
}

div.st-emotion-cache-6qob1r div.st-emotion-cache-16txtl3 {
  padding: 30px 1.5rem;
}

div.st-emotion-cache-2olfx3 button.st-emotion-cache-13ejsyy {
  width: 210px;
  height: 60px;
  margin-bottom: 12px;
}

div.st-emotion-cache-2olfx3 button.st-emotion-cache-13ejsyy p{
  font-size: 20px;
  font-weight: bold;
}
