div.st-emotion-cache-16txtl3 {
  padding: 40px 1.5rem;
}

div.st-emotion-cache-1epr6ov div.st-emotion-cache-11byf88 div.st-emotion-cache-5rimss p {
  margin-bottom: 30px;
}

div.st-emotion-cache-1epr6ov div.st-emotion-cache-11byf88 div.st-emotion-cache-5rimss a {
  text-decoration-line: none;
  border: black 5px solid;
  padding: 10px;
  font-size: 35px;
  color: black;
  border-radius: 40px;
  background-color: beige;
}