div span.st-emotion-cache-17lntkn {
  font-size: 30px;
  text-transform: capitalize;
  color: #2ab7b7;
}

div span.st-emotion-cache-pkbazv {
  font-size: 30px;
  text-transform: capitalize;
  color: #2ab7b7;
}