div.st-emotion-cache-6qob1r div.st-emotion-cache-16txtl3 div.st-emotion-cache-5rimss a {
  text-decoration-line: none;
  color: black;
  font-size: 25px;
  border: black solid;
  padding: 10px;
  border-radius: 20px;
  background-color: cornsilk;
  font-weight: 700;
}

div.st-emotion-cache-6qob1r div.st-emotion-cache-16txtl3 {
  padding: 30px 1.5rem;
}

.menu .container-xxl[data-v-5af006b8] {
  margin-top: 15px;
}